<%- content_for(:title, "Sign up") %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>Sign up for free</h2>

      <p>You can use HeCoSiRe to track how you feel and get insight into your health.</p>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        
        <div class="field">
          <%= f.label :time_zone %><br />
          <%= f.time_zone_select :time_zone, /Australia/, :default => "Melbourne" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-default btn-primary" %>
        </div>
      <% end %>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h2>Why should you join?</h2>
      <ul>
        <li><b>You are unique.</b> Learn what does and doesn't work for you.</li>
        <li><b>Easily track</b> how you feel using web and mobile.</li>
        <li><b>We value your privacy</b>. We won't share your data without your agreement</li>
        <li>And it's <b>free</b></li>
      </ul>

      <iframe id="hecosire-video" width="100%" height="315" src="//www.youtube.com/embed/wICKl0kYK9M?rel=0" frameborder="0" allowfullscreen></iframe>

      <hr/>
      <%= render "devise/shared/links" %>
    </div>
  </div>

</div>


