- content_for(:title, "Records")

.container
  .row
    .col-xs-12.col-sm-6
      - unless @recent_record
        %h1 How are you feeling?
        %a{:href => new_record_path, :rel => 'nofollow'}
          %button.btn.btn-primary
            = fa_icon "pencil"
            New Record
      - if @recent_record
        %h1 Good job!
        %p Track every day to gather valuable data about yourself.
        %a{:href => records_reminder_path, :rel => 'nofollow', :format => :ics}
          %button.btn.btn-success
            = fa_icon "calendar"
            Remind me tomorrow
        %a{:href => new_record_path, :rel => 'nofollow'}
          %button.btn
            New Record

- unless @records.empty?
  .container
    .row
      .col-xs-12
        %h1 How you felt..
    .row
      .col-xs-12.col-sm-6

        %table.table
          %thead
            %tr
              %th Date
              %th Health state
              %th
              %th
              %th

          %tbody
            - @records.each do |record|
              %tr
                %td
                  = time_ago_in_words(record.created_at)
                  ago
                %td= record.health_state
                %td= link_to 'Show', record
                %td= link_to 'Edit', edit_record_path(record)
                %td= link_to '<i class="fa fa-trash"></i>'.html_safe, record, :method => :delete, :data => { :confirm => 'Are you sure?' }

        = will_paginate @records

        %br
      .col-xs-12.col-sm-6
        - if @has_stats
          %p
            We have prepared some useful graphs and stats just for you..
          %a{:href => records_stats_path, :rel => 'nofollow'}
            %button.btn.btn-success
              = fa_icon "pie-chart"
              See my stats
          %a{:href => records_log_path, :rel => 'nofollow'}
            %button.btn.btn-success
              See my personal log
          %a{:href => records_wordcloud_path, :rel => 'nofollow'}
            %button.btn.btn-success
              See my word cloud
        - else
          %p
            Looks like you are new to HeCoSiRe..
          %p
            Keep tracking and in few days we will prepare stats for you.
          %button.btn.btn-disabled
            = fa_icon "pie-chart"
            See my stats
          %button.btn.btn-disabled
            See my personal log
          %button.btn.btn-disabled
            See my word cloud
    .row
      .col-xs-12
        %hr
          %a{:href => "#{records_export_path}.csv", :rel => 'nofollow'}
            Export records as csv file
    .row
      .col-xs-12
        %h1 People you care for
        %a{:href => care_for_path, :rel => 'nofollow'}
          %button.btn.btn-success
            See people you care for