- content_for(:title, "Records stats")

- unless @records.empty?

  = will_paginate @records

  .container
    .row
      .col-xs-12
        %h1 How you felt..
        Displaying data going back
        = time_ago_in_words(@records.last.created_at)
    - if @records_stats.has_data_going_back?(7)
      .row
        .col-xs-12
          %h2 Last week
          #chart-time-week.chart
          #chart-week.chart
    - if @records_stats.has_data_going_back?(31)
      .row
        .col-xs-12
          %h2 Last month
          #chart-time-month.chart
          #chart-month.chart
    - if @records_stats.has_data_going_back?(365)
      .row
        .col-xs-12
          %h2 Last year
          #chart-time-year.chart
          #chart-year.chart

    .row
      .col-xs-12
        %a{:href => records_aggregates_path}
          See aggregate values
        %hr
        %a{:href => records_path, :rel => 'nofollow'}
          %button.btn.btn-success
            Go back to your records

- content_for :javascript do
  :javascript
    $(function(){

      var commentsWeek = [#{@records_stats.comments(7)}];
      var commentsMonth = [#{@records_stats.comments(31)}];
      var commentsYear = [#{@records_stats.comments(365)}];

      var pieChartLastWeekColumns = [
                ['Healthy', #{@records_stats.stats(7)[:healthy]}],
                ['Coming down', #{@records_stats.stats(7)[:coming_down]}],
                ['Sick', #{@records_stats.stats(7)[:sick]}],
                ['Recovering', #{@records_stats.stats(7)[:recovering]}]
              ];

      var linesChartLastWeekColumns = [
                ['x',
                #{@records_stats.dates_for_timechart(7)}
                ],
                ['y',
                #{@records_stats.states_for_timechart(7)}
                ]

            ];

      var pieChartLastYearColumns = [
                ['Healthy', #{@records_stats.stats(365)[:healthy]}],
                ['Coming down', #{@records_stats.stats(365)[:coming_down]}],
                ['Sick', #{@records_stats.stats(365)[:sick]}],
                ['Recovering', #{@records_stats.stats(365)[:recovering]}]
              ];

      var linesChartLastYearColumns = [
                ['x',
                #{@records_stats.dates_for_timechart(365)}
                ],
                ['y',
                #{@records_stats.states_for_timechart(365)}
                ]

            ];      

      var pieChartLastMonthColumns = [
                ['Healthy', #{@records_stats.stats(31)[:healthy]}],
                ['Coming down', #{@records_stats.stats(31)[:coming_down]}],
                ['Sick', #{@records_stats.stats(31)[:sick]}],
                ['Recovering', #{@records_stats.stats(31)[:recovering]}]
              ];

      var linesChartLastMonthColumns = [
                ['x',
                #{@records_stats.dates_for_timechart(31)}
                ],
                ['y',
                #{@records_stats.states_for_timechart(31)}
                ]

            ];


      Hecosire.generateStatCharts('#chart-week', pieChartLastWeekColumns, '#chart-time-week', linesChartLastWeekColumns, commentsWeek);
      
      Hecosire.generateStatCharts('#chart-month', pieChartLastMonthColumns, '#chart-time-month', linesChartLastMonthColumns, commentsMonth);

      Hecosire.generateStatCharts('#chart-year', pieChartLastYearColumns, '#chart-time-year', linesChartLastYearColumns, commentsYear);

    });