- content_for(:title, "Records stats")

- unless @records.empty?

  = will_paginate @records

  .container
    .row
      .col-xs-12
        %h1 How you felt..
        Displaying data going back
        = time_ago_in_words(@records.last.created_at)
    .row
      .col-xs-12
        %h2 Last week
        #chart-time-week.chart
        #chart-week.chart
    .row
      .col-xs-12
        %h2 Last month
        #chart-time-month.chart
        #chart-month.chart

    .row
      .col-xs-12
        %a{:href => records_aggregates_path}
          See aggregate values
        %hr
        %a{:href => records_path, :rel => 'nofollow'}
          %button.btn.btn-success
            Go back to your records

- content_for :javascript do
  :javascript
    $(function(){

      var pieChartLastWeekColumns = [
                ['Healthy', #{@records_stats.stats(7)[:healthy]}],
                ['Coming down', #{@records_stats.stats(7)[:coming_down]}],
                ['Sick', #{@records_stats.stats(7)[:sick]}],
                ['Recovering', #{@records_stats.stats(7)[:recovering]}]
              ];

      var linesChartLastWeekColumns = [
                ['x',
                #{@records_stats.dates_for_timechart(7)}
                ],
                ['y',
                #{@records_stats.states_for_timechart(7)}
                ]

            ];

      var pieChartLastMonthColumns = [
                ['Healthy', #{@records_stats.stats(31)[:healthy]}],
                ['Coming down', #{@records_stats.stats(31)[:coming_down]}],
                ['Sick', #{@records_stats.stats(31)[:sick]}],
                ['Recovering', #{@records_stats.stats(31)[:recovering]}]
              ];

      var linesChartLastMonthColumns = [
                ['x',
                #{@records_stats.dates_for_timechart(31)}
                ],
                ['y',
                #{@records_stats.states_for_timechart(31)}
                ]

            ];


      Hecosire.generateStatCharts('#chart-week', pieChartLastWeekColumns, '#chart-time-week', linesChartLastWeekColumns);
      Hecosire.generateStatCharts('#chart-month', pieChartLastMonthColumns, '#chart-time-month', linesChartLastMonthColumns);

    });