!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "HeCoSiRe"
    %meta{:content => content_for?(:description) ? yield(:description) : "Hecosire track how you feel and get insight into your health", :name => "description"}
    %meta{:name=>"google-site-verification", :content=>"LKEVjbN-vEp8hM5YmwbTTxeDYctags3Zy3FUeqaRoYQ"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "/apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}
    %link{:href => "/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "/apple-touch-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
    %link{:href => "/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
    %link{:href => "/apple-touch-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
    %link{:href => "/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}
    %link{:href => "/apple-touch-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"}
            hecosire.com
        #navbar.navbar-collapse.collapse
          %form.navbar-form.navbar-right
            - if user_signed_in?
              .logged-in-user
                = "Hi #{current_user.email}!"
                %button.btn.btn-danger
                  = link_to("Logout", destroy_user_session_path, :method => :delete)
            - else
              %button.btn.btn-success
                = link_to('Login', new_user_session_path)

    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
        %footer
          %hr
          Contact
          %a{:href => "https://twitter.com/hecosire"}@hecosire
          |
          %a{:href => "https://github.com/hecosire/"} github
          | developers (at) hecosire.com |
          %a{:href => "https://plus.google.com/118389928399107928147", :rel => "publisher"} Google+

